In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('../src/data/cleaned_data/cleaned_train_df.csv')

C:\Users\HP EliteBook\AppData\Local\Temp\ipykernel_20460\441314100.py:1: DtypeWarning: Columns (7,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../src/data/cleaned_data/cleaned_train_df.csv')

In [3]:
df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Sales_zscore,Customers_zscore,HolidayPeriod,Month,Year
0,1,5,2015-07-31,-0.087914,-0.117987,1,1,0,1,-0.087914,-0.117987,NaN,7,2015
1,2,5,2015-07-31,0.139929,0.062890,1,1,0,1,0.139929,0.062890,NaN,7,2015
2,3,5,2015-07-31,0.779935,0.569346,1,1,0,1,0.779935,0.569346,NaN,7,2015
3,4,5,2015-07-31,2.395880,2.318684,1,1,0,1,2.395880,2.318684,NaN,7,2015
4,5,5,2015-07-31,-0.213355,-0.107651,1,1,0,1,-0.213355,-0.107651,NaN,7,2015

In [4]:
print(df['StateHoliday'].unique())
print(df['HolidayPeriod'].unique())

['0' 'a' 'b' 'c' 0]
[nan 'During']

In [7]:
# Convert StateHoliday to numeric
state_holiday_mapping = {'0': 0, 'a': 1, 'b': 2, 'c': 3}
df['StateHoliday'] = df['StateHoliday'].replace(state_holiday_mapping).astype(int)

# Handle missing values in HolidayPeriod
df['HolidayPeriod'] = df['HolidayPeriod'].fillna("Not during holiday")

# Extract weekday/weekend feature
df['IsWeekend'] = df['DayOfWeek'].apply(lambda x: 1 if x >= 6 else 0)

# Convert Date column to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Beginning, Mid, End of Month
df['MonthPart'] = df['Date'].dt.day.apply(lambda x: "Beginning" if x <= 10 else ("Mid" if x <= 20 else "End"))

# Example for Days to Holidays and Days after Holidays
# (Requires a holiday dataset with dates for accurate implementation)
holidays = pd.to_datetime(["2015-07-01", "2015-08-15"])  # Example holidays
df['DaysToHoliday'] = df['Date'].apply(lambda x: (holidays[holidays > x] - x).min().days if any(holidays > x) else -1)
df['DaysAfterHoliday'] = df['Date'].apply(lambda x: (x - holidays[holidays < x]).min().days if any(holidays < x) else -1)

# Preview the processed DataFrame
df.head()

C:\Users\HP EliteBook\AppData\Local\Temp\ipykernel_20460\4293411996.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['StateHoliday'] = df['StateHoliday'].replace(state_holiday_mapping).astype(int)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Sales_zscore,Customers_zscore,HolidayPeriod,Month,Year,IsWeekend,MonthPart,DaysToHoliday,DaysAfterHoliday
0,1,5,2015-07-31,-0.087914,-0.117987,1,1,0,1,-0.087914,-0.117987,Not during holiday,7,2015,0,End,15,30
1,2,5,2015-07-31,0.139929,0.062890,1,1,0,1,0.139929,0.062890,Not during holiday,7,2015,0,End,15,30
2,3,5,2015-07-31,0.779935,0.569346,1,1,0,1,0.779935,0.569346,Not during holiday,7,2015,0,End,15,30
3,4,5,2015-07-31,2.395880,2.318684,1,1,0,1,2.395880,2.318684,Not during holiday,7,2015,0,End,15,30
4,5,5,2015-07-31,-0.213355,-0.107651,1,1,0,1,-0.213355,-0.107651,Not during holiday,7,2015,0,End,15,30